/*!
* Swati Srivastava (ss3ck) and Megan Reddy (mr8vn)
* Foreign Language News Aggregator
* common.css
*/

/* landing and signup page styling */

#sign-up-btn {
    color: #eeeeee;
    background-color: #004346;
    border: none;
    padding: 8px;
    border-radius: 6px;
}
#sign-up-btn:hover {
    background-color: #508991;
    border-color: #508991;
}
#return-btn {
    color: #eeeeee;
    background-color: #004346;
    border: none;
    padding: 8px;
    border-radius: 6px;
}
#return-btn:hover {
    background-color: #508991;
    border-color: #508991;
}

/* home and settings page styling */

.btn {
    background-color: #74b3ce; 
    border-color:  #74b3ce;
}
.btn:hover {
    background-color: #508991;
    border-color: #508991;
}
#layoutAuthentication_footer {
    background-color: #172A3A;
}
.menu-header {
    color: #c7c7c7 !important; /* learned about !important keyword here: https://www.w3schools.com/css/css_important.asp */
}
#menu-label {
    color: #c7c7c7 !important;
}
#menu-label:hover {
    background-color: #2a4c68;
} 
.sb-sidenav-menu {
    background-color: #172a3a;
}
.sb-sidenav-menu-heading {
    color: #adadad !important; 
}
.sb-topnav {
    background-color: #09bc8a; 
}
.sb-nav-link-icon {
    color: #c7c7c7 !important;
}
#sidebarToggle {
    background-color: #09bc8a;
    border-color:  #09bc8a;
}

/* all */

.text-muted {
    color: #eeeeee !important;
} 

/* adjust for small screens */

@media only screen and (max-width: 768px) {
    .mt-4 {
       font-size: 2rem;
    } 
}